header {
  padding: 0 24px;
  max-width: 730px;
  margin: 0 auto;
}
.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
  padding-top: 104px;
}
.d-none {
  display: none;
}
.homepage-title h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
  color: var(--title-color);
  margin-bottom: 4px;
}
.homepage-title p {
  text-align: start;
  color: var(--invoice-counter);
}
.homepage-btn {
  background: #7c5dfa;
  border-radius: 24px;
  width: 90px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.homepage-btn span:first-of-type {
  background: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  position: absolute;
  left: 6px;
}
.homepage-btn img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.homepage-btn span {
  font-weight: bold;
  color: #ffffff;
}

.homepage-btn .new-span {
  margin-left: 29px;
}