.invoice-page {
  margin: 0 auto;
  padding-top: 104px;
  max-width: 730px;
  padding-bottom: 56px;
}
a.go-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 32px;
}
a.go-back span {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 23.66px;
}
.invoice-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 27px;
  background: var(--invoice-card-bg);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin: 0 24px;
  margin-bottom: 16px;
}
.invoice-status span:first-of-type {
  color: var(--body-color);
}
.invoice-card-status {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  font-weight: bold;
  border-radius: 6px;
  width: -webkit-fill-available;
  height: 40px;
  margin-left: auto;
}
.invoice-card-status span:first-of-type {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.invoice-card-status.paid {
  background-color: var(--paid-color-bg);
  color: var(--paid-color);
}
.invoice-card-status.pending {
  background-color: var(--pending-color-bg);
  color: var(--pending-color);
}
.invoice-card-status.draft {
  background-color: var(--draft-color-bg);
  color: var(--draft-color);
}

.invoice-card-status span:first-of-type {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
.invoice-card-status.paid span:first-of-type {
  background-color: var(--paid-color);
}
.invoice-card-status.pending span:first-of-type {
  background-color: var(--pending-color);
}
.invoice-card-status.draft span:first-of-type {
  background-color: var(--draft-color);
}
.invoice-info {
  padding: 24px;
  margin-right: 24px;
  margin-left: 24px;
  background-color: var(--invoice-info-bg);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}
.invoice-info .invoice-card-id p {
  color: var(--hash-color);
  text-align: start;
  margin-bottom: 4px;
}

.invoice-info .invoice-card-id p span {
  color: var(--title-color);
  font-weight: bold;
}
.invoice-info .invoice-info-header {
  margin-bottom: 31px;
}
.invoice-info .id-desc {
  margin-bottom: 3rem;
}
.invoice-info .description {
  text-align: start;
  color: var(--light-color);
}
.invoice-info .sender {
  text-align: start;
}
.invoice-info .sender p {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px;
}
.invoice-info .invoice-info-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.invoice-info .date-due {
  text-align: start;
}
.invoice-info .date-due p {
  margin-bottom: 12px;
  color: var(--light-color);
}
.invoice-info .date-due span {
  color: var(--title-color);
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
}
.invoice-info .date-due span:first-of-type {
  margin-bottom: 3.2rem;
  display: block;
}
.invoice-info .client {
  margin-bottom: 3.2rem;
  text-align: start;
  margin-right: 47px;
}
.invoice-info .client p {
  color: var(--light-color);
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px;
}
.invoice-info .client p:first-of-type {
  margin-bottom: 12px;
}
.invoice-info .client span {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--title-color);
  display: block;
}
.invoice-info .sent-to {
  text-align: start;
  width: 100%;
}
.invoice-info .sent-to p {
  margin-bottom: 12px;
  color: var(--light-color);
}
.invoice-info .sent-to span {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--title-color);
}

.invoice-info .invoice-info-footer .design {
  background-color: var(--invoice-design-bg);
  padding: 24px;
  border-radius: 8px 8px 0px 0px;
}
.invoice-info-footer .labels {
  display: none;
  color: var(--light-color);
}
.design .design-x {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  color: var(--light-color);
  font-weight: bold;
}
.banner-design {
  margin-bottom: 24px;
}
.banner-design,
.email-design {
  display: grid;
  grid-template-columns: 11px 10px 72px 1fr;
  text-align: start;
}
.banner-design p:first-of-type,
.email-design p:first-of-type {
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 8px;
}
.banner-design .banner-quantity,
.email-design .email-quantity {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  color: var(--light-color);
  font-weight: bold;
}
.banner-design .banner-quantity {
  text-align: center;
}

.banner-design .banner-total,
.email-design .email-total {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: end;
  font-weight: bold;
  color: var(--title-color);
}
.banner-design .banner-price,
.email-design .email-price {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  color: var(--light-color);
  font-weight: bold;
  white-space: nowrap;
}
.grand-total {
  padding: 24px;
  background-color: var(--grand-total-bg);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
}
.grand-total span:first-of-type {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px;
}
.grand-total span:last-of-type {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.416667px;
}
