.go-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
}
.go-back a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 23.66px;
}

.bill-from,
.bill-to {
  color: #7c5dfa;
  margin-bottom: 24px;
  text-align: start;
  font-weight: bold;
}
.form {
  padding: 0 24px;
  padding-top: 104px;
  background-color: var(--form-bg);
  max-width: 617px;
  margin: 0 auto;
}
.form .form-edit {
  text-align: start;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin-bottom: 24px;
  color: var(--title-color);
}
.form small:first-of-type {
  color: var(--taraba-color);
}
.form span {
  color: var(--form-headings-color);
  display: block;
  margin-bottom: 10px;
  text-align: start;
}
.form input {
  width: 100%;
  height: 48px;
  padding-left: 20px;
  outline: none;
}
.form .sender,
.form .client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}
.form .street-address,
.form .city,
.form .postcode,
.form .country,
.form .name,
.form .email,
.form .date,
.form .terms,
.form .description {
  margin-bottom: 24px;
}
.form .street-address,
.form .country,
.form .name,
.form .email {
  flex: 0 0 100%;
  width: 100%;
}
.form .city,
.form .postcode {
  flex: 0 0 calc(50% - 23px / 2);
  width: calc(50% - 23px / 2);
}
.form .data {
  padding-bottom: 42px;
}
