.view-invoice-buttons {
  background-color: var(--edit-invoice-bg);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  display: flex;
  justify-content: center;
  padding: 21px 24px 22px 24px;
}

.view-invoice-buttons button {
  color: #ffffff;
  border-radius: 24px;
  font-weight: 700;
  border-color: transparent;
  margin: 0 4px;
}
.view-invoice-buttons .edit-btn {
  width: 73px;
  height: 48px;
  background-color: var(--edit-btn-bg);
  color: var(--edit-btn-color);
}
.view-invoice-buttons .delete-btn {
  width: 89px;
  height: 48px;
  background-color: #ec5757;
}
.view-invoice-buttons .mark-btn {
  width: 149px;
  height: 48px;
  background-color: #7c5dfa;
}
